<% layout('./Layout/navebar') -%>
<body class="p-3 m-0 border-0 bd-example m-0 border-0" style="margin-top: 2% !important; padding-top: 3% !important; ">
    <!-- Example Code -->
    <form class="row g-3" method="POST" action="/user/<%=data.id%>/edit?_method=PATCH">
    <div class="col-md-6">
      <label for="inputCity" class="form-label">Full Name</label>
      <input type="text" class="form-control" id="inputCity" name="fullName" value="<%=data.fullName%>" required/>
    </div>
    <div class="col-md-6">
      <label for="username" class="form-label">username</label>
      <input type="text" class="form-control" id="username" name="username" value="<%=data.username%>" readonly required/>
    </div>
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4" name="email" value="<%=data.email%>" required/>
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Phone Number</label>
        <input
          type="tel"
          class="form-control"
          id="inputPassword4"
          name="phoneNumber"
          value="<%=data.phoneNumber%>"
          pattern="\d{10}"
          required
        />
      </div>
      <div class="col-md-6">
        <label for="currentPassword" class="form-label">currentPassword</label>
        <input
          type="password"
          class="form-control"
          id="currentPassword"
          name="currentPassword"
          required
        />
      </div>

      <div class="col-md-6">
        <label for="newPassword" class="form-label">newPassword</label>
        <input
          type="password"
          class="form-control"
          id="newPassword"
          name="newPassword"
          required
        />
      </div>


      <div class="col-md-6">
        <select class="form-select country" aria-label="Default select example"  name="country" required>
          <option selected >Select Country</option>
        </select>

      </div>

      <div class="col-md-6">
        <select class="form-select state" aria-label="Default select example" name="state" required>
          <option selected>Select state</option>
        </select>
      </div>

      <div class="col-md-6">
        <select class="form-select city" aria-label="Default select example" name="city" required>
          <option selected>Select city</option>
        </select>
      </div>


      <div class="col-6">
      <label for="inlineFormSelectPref">Preferred Position</label>
      <select class="form-select" id="inlineFormSelectPref" name="prefferedPosition" required>
        <option selected>Raider</option>
        <option value="Defender">Defender</option>
        <option value="All-Rounder">All-Rounder</option>
      </select>
    </div>

    <div class="col-6">
      <label for="inlineFormSelectPref">Gender</label>
      <select class="form-select" id="inlineFormSelectPref" name="gender" required>
        <option selected>Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
      </select>
    </div>

    <div class="col-md-6">
      <label for="age" class="form-label">Age</label>
      <input type="number" class="form-control" id="age" name="age" value="<%=data.age%>" min="17" max="40" required/>
    </div>
    
      <div class="col-6">
        <button type="submit" class="btn btn-primary">Edit</button>
      </div>
    </form>
    <script src="/js/api.js"></script>
  </body>